@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.dialog::before{
  content: "";
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #F8F8F8;
  top: 100%;
  left:10%
}

::placeholder {
color: rgba(0, 0, 0, 0.65) !important;
}

input {
  color: rgba(0, 0, 0, 0.75) !important;
}