@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.dialog::before{
  content: "";
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #F8F8F8;
  top: 100%;
  left:10%
}

.hero {
  min-height: 100vh;
}

@media screen and (max-width: 639px) {
  .hero {
    min-height: 70vh;
  }
}

 @media screen and (min-width:1024px) and (max-width:1279px) {
  .ml-7 {
    margin-left: 27px !important;
  }
}

.herobg {
  top: 0;
  right: -23px;
  width: 100vw;
  opacity: 1;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .herobg {
    right: -49px;
    opacity: .3;
  }
}

